.header-inner, .container .main-inner, .footer-inner {
  +mobile() { width: auto; }
}

.header {
  background: url('http://oeat6c2zg.bkt.clouddn.com/Theme_Muse_header.jpg');
  background-position: center center;
  background-size: cover;
}

// embed tag
embed {
   display: block;
   margin:  0px auto 25px auto;
}
